@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutNuul.cshtml";
}
@model Registr;
<div class="confirm_form">
    <form asp-action="CreatePassword" asp-controller="Login" method="post" class="form form_sign_up">

        <p style="margin: 0 0 0 10px" class="form_message">@Model.Message</p>
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Login" />
        <p>

            <label id="sign_up_password">Password:</label>
            <span class="text-danger" asp-validation-for="Password"></span>
            <input type="password" class="input" asp-for="Password">
        </p>
        <p>

            <label id="sign_up_password">Password confirm:</label>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <input type="password" class="input" asp-for="ConfirmPassword">
        </p>

        <button type="submit" id="clear-button" class="confirm_submit">Registr</button>
    </form>
</div>
