
.no-products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Высота блока, можно настроить */
    text-align: center;
}

    .no-products p {
        font-size: 18px; /* Размер шрифта */
        color: #555; /* Цвет текста */
        font-weight: bold; /* Жирность текста */
        margin: 0;
    }
