@{
    ViewData["Title"] = "Home Page";
}

<!--slider area start-->
<section class="slider_section slider_s_two">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="img/slider/slider7.jpg" style="background-image: url('img/slider/slider7.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <span>AMAZING FROM Lukani</span>
                            <h1>BIG SALE <br> NEW ARRIVALS</h1>
                            <a class="button" href="shop.html">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="img/slider/slider8.jpg" style="background-image: url('img/slider/slider8.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <span>AMAZING FROM Lukani</span>
                            <h1>lukani <br> <span>trending 2019</span></h1>
                            <a class="button" href="shop.html">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="img/slider/slider9.jpg" style="background-image: url('img/slider/slider9.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <span>AMAZING FROM Lukani</span>
                            <h1>houseplant <br> <span>amazing choice</span></h1>
                            <a class="button" href="shop.html">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--lukani store title start-->
<div class="welcome_lukani_store">
    <div class="container">
        <div class="welcome_lukani_container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="welcome_lukani_thumb">
                        <img src="~/img/bg/img-top-vogue3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="welcome_lukani_content">
                        <div class="welcome_lukani_header">
                            <h3>Welcome to Lukani store</h3>
                            <h2>Lukani History</h2>
                        </div>
                        <div class="welcome_lukani_desc">
                            <p>
                                Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis eget
                                maecenas
                                sedurna malesuada consectetuer.
                            </p>
                            <p>
                                Ornare integer commodo mauris et ligula purus, praesent cubilia laboriosam viverra.
                                Mattis id rhoncus. Integer lacus eu volutpat fusce. Elit etiam phasellus suscipit
                                suscipit dapibus,
                                condimentum tempor quis, turpis luctus dolor sapien vivamus.
                            </p>
                        </div>
                        <div class="welcome_lukani_footer">
                            <img src="~/img/bg/signature.png" alt="">
                            <p><span>john doe</span> – CEO Lukani</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--lukani store titlev end-->
<!--product area start-->
<div class="product_area product_style2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
               
            </div>
        </div>
        <div class="product_style2_ocntainer">
            <div class="row">
                <div class="product_carousel product2_column5 owl-carousel">
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product area end-->
<!--testimonial area start-->
<div class="testimonial_area testimonial_two">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>What Our Customers Says ?</h2>
                </div>
            </div>
        </div>
        <div class="testimonial_container">
            <div class="row">
                <div class="testimonial_carousel owl-carousel">
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/img/about/testimonial1.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Rebecka Filson</a> / <span>CEO of CSC</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/img/about/testimonial2.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Amber Laha</a> / <span>CEO of DND</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-testimonial">
                            <div class="testimonial-icon-img">
                                <img src="~/img/about/testimonials-icon.png" alt="">
                            </div>
                            <div class="testimonial_content">
                                <p>
                                    “ When a beautiful design is combined with powerful technology, <br>
                                    it truly is an artwork. I love how my website operates and looks with this
                                    theme. Thank you for the awesome product. ”
                                </p>
                                <div class="testimonial_text_img">
                                    <a href="#"><img src="~/img/about/testimonial3.png" alt=""></a>
                                </div>
                                <div class="testimonial_author">
                                    <p><a href="#">Lindsy Neloms</a> / <span>CEO of SFD</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonial area end-->
<!--brand area start-->
<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel">
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand1.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand3.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand4.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand5.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand6.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->

<!--newsletter area start-->
<div class="newsletter_area_start newsletter_two">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Get <span>20% Off</span> Your Next Order</h2>
                </div>
                <div class="newsletter_container">
                    <div class="subscribe_form">
                        <form id="mc-form" class="mc-form footer-newsletter">
                            <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email" />
                            <button id="mc-submit">Subscribe</button>
                            <div class="email_icon">
                                <i class="icon-mail"></i>
                            </div>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--newsletter area end-->

