
@{
    ViewBag.Title = "Cart";
}
@model List<ShopFlower.Data.Models.Cart>

<!--breadcrumbs area start-->
<div class="breadcrumbs_area" style="padding: 100px 0px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cart</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area mt-100">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            @if(Model != null && Model.Count != 0)
                            {
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-price">Count</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model)
                                    {
                                        <tr onclick="window.location.href='@Url.Action("ProductDetails","Shop",new {id = item.Products.Id})'">
                                            <td class="product_remove">
                                                <form action="/" method="post"> <a href="#"><i class="fa fa-trash-o"></i></a></form>
                                            </td>
                                            <td class="product_thumb">
                                                <a href="#">
                                                    <img src="~/img/s-product/@item.Products.Img" alt="">
                                                </a>
                                            </td>
                                            <td class="product_name"><a href="#">@item.Products.Name</a></td>
                                            <td class="product-price">£@item.Products.Price</td>
                                            <td class="product_total">£@item.TotalSum</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                            else
                            {
                            <style>
                                .no-products {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 200px; /* Высота блока, можно настроить */
                                    text-align: center;
                                }

                                    .no-products p {
                                        font-size: 18px; /* Размер шрифта */
                                        color: #555; /* Цвет текста */
                                        font-weight: bold; /* Жирность текста */
                                        margin: 0;
                                    }
                            </style>
                            <div class="no-products">
                                <p>В корзину ничего не добавлено</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!--shopping cart area end -->
<!--brand area start-->
<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel">
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand1.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand3.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand4.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand5.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand6.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->